nav.navbar
	a.navbar-brand logo
	ul.list-inline
		li.list-inline-item blog
		li.list-inline-item 
			
			img(src="../../images/Tvitter.svg", alt="image")
			p twitter
		li.list-inline-item 
			img(src="../../images/Discord.svg", alt="image")
			p discord 
		li.list-inline-item-last 
			button.btn.btn-primary(type='submit') Open app